@font-face {
    font-family: Intuitive;
    src: url("../font/Intuitive.ttf");
}

.slider {
    width: 1000px;
    overflow: hidden;
    margin: 150px auto;
}

.slides {
    width: calc(500px * 3);
    animation: glisse 15s infinite;
}

.slide {
    float: left;
}

@keyframes glisse {
    0% {
        transform: translateX(O);
    }
    33% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(100Opx);
    }
    100% {
        transform: translateX(O);
    }
}

#menu {
    font-family: Intuitive;
    font-weight: bold;
    text-align: center;
}

a {
    font-size: 22pt;
    color: #ff8000;
}

#logo {
    width: 280px;
}

body {
    font-family: Tahoma;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

ul.menu-vertical {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 5%;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bar {
    display: flex;
    flex-direction: row;
}

.container2 {
    display: flex;
    flex-direction: column;

}

.mosaic {
    display: flex;
    align-content: center;  
    justify-content: space-between;
    margin-top: 100px;
}


p {
    color: white;
    background-color: #ff0000;
    text-align: center;
    font-family: Tahoma;
    font-size: 12pt;
    padding: 10px;
}

#pic1 {
    border-radius: 15%;

}

#lien {

}







